*{margin: 0; padding: 0;}
*{box-sizing: border-box;}
html{
  font-size: 14px;
}

ol,ul,li{
  list-style-position: inside;
}
.token.comment,
.token.selector,
.token.property,
.token.punctuation,
.token.function{ color: inherit;}

#code{
  height: 100vh;
  overflow: auto;
}

.paper{
  overflow: auto; 
}
.content{
  padding: 24px;
  color: black;
}
.paper>.html-body{
  color: black;
  padding: 16px;
  overflow: auto;
}